In [2]:
import pandas as pd

In [11]:
stud = {
    "Ім'я та прізвище студента":['Олександр Літовкін ', 'Олена Лоскутова',
                                 'Костянтин Науменко', 'Катерина Федорова',
                                'Олексій Юрченко', 'Анастасія Петренко',
                                 'Олексій Барановський', 'Давид Денисенко',
                                 'Карина Борщ', 'Ярослав Пилипенко',
                                 'Володимир Тарасов', 'Дмитро Чернишенко',
                                 'Максим Михайлов', 'Вячеслав Мілашенко',
                                 'Олександр Коноплянко'
                                ],
    "Середній бал":[95.4,94.7,90.1,87.4,86.5,79.7,77.7,76.6,75.9,74.3,74.2,72.8,71.3,70.1,69.7],
    "Оцінка за поточний екзамен":[95,90,90,85,85,85,80,80,80,75,75,75,75,75,70],
    "Кількість спроб здачі поточного екзамену":[1,1,1,1,1,1,2,2,2,2,3,3,3,4,4]
}

students = pd.DataFrame(data = stud, index = range(1, len(stud["Ім'я та прізвище студента"])+1))
students

,Ім'я та прізвище студента,Середній бал,Оцінка за поточний екзамен,Кількість спроб здачі поточного екзамену
1,Олександр Літовкін,95.4,95,1
2,Олена Лоскутова,94.7,90,1
3,Костянтин Науменко,90.1,90,1
4,Катерина Федорова,87.4,85,1
5,Олексій Юрченко,86.5,85,1
6,Анастасія Петренко,79.7,85,1
7,Олексій Барановський,77.7,80,2
8,Давид Денисенко,76.6,80,2
9,Карина Борщ,75.9,80,2
10,Ярослав Пилипенко,74.3,75,2
11,Володимир Тарасов,74.2,75,3
12,Дмитро Чернишенко,72.8,75,3
13,Максим Михайлов,71.3,75,3
14,Вячеслав Мілашенко,70.1,75,4
15,Олександр Коноплянко,69.7,70,4

In [12]:
more_than_75 = students["Середній бал"]>75
ser1 = students.loc[more_than_75]["Ім'я та прізвище студента"]
print(f'Допущених до наступного курсу з середнім балом більше за 75: {len(ser1)} студентів')
less_than_75 = students["Середній бал"]<75
ser2 = students.loc[less_than_75]["Ім'я та прізвище студента"]
print(f'Не допущених до наступного курсу з середнім балом менше за 75: {len(ser2)} студентів')

Допущених до наступного курсу з середнім балом більше за 75: 9 студентів
Не допущених до наступного курсу з середнім балом менше за 75: 6 студентів

In [13]:
next_course = [True]*9+[False]*6
students['Допуск до наступного курсу'] = next_course
students

,Ім'я та прізвище студента,Середній бал,Оцінка за поточний екзамен,Кількість спроб здачі поточного екзамену,Допуск до наступного курсу
1,Олександр Літовкін,95.4,95,1,True
2,Олена Лоскутова,94.7,90,1,True
3,Костянтин Науменко,90.1,90,1,True
4,Катерина Федорова,87.4,85,1,True
5,Олексій Юрченко,86.5,85,1,True
6,Анастасія Петренко,79.7,85,1,True
7,Олексій Барановський,77.7,80,2,True
8,Давид Денисенко,76.6,80,2,True
9,Карина Борщ,75.9,80,2,True
10,Ярослав Пилипенко,74.3,75,2,False
11,Володимир Тарасов,74.2,75,3,False
12,Дмитро Чернишенко,72.8,75,3,False
13,Максим Михайлов,71.3,75,3,False
14,Вячеслав Мілашенко,70.1,75,4,False
15,Олександр Коноплянко,69.7,70,4,False

In [14]:
students["Середній бал"].agg(['min','max', 'mean', 'median'])

min       69.70
max       95.40
mean      79.76
median    76.60
Name: Середній бал, dtype: float64

In [15]:
print(f'{len(students[students["Кількість спроб здачі поточного екзамену"]==1])} студентів здало екзамен з першого разу')

6 студентів здало екзамен з першого разу

In [16]:
more_than_70 = students["Середній бал"]>70
ser = students.loc[more_than_70]["Ім'я та прізвище студента"]
series = pd.Series(ser)
series

1      Олександр Літовкін
2          Олена Лоскутова
3       Костянтин Науменко
4        Катерина Федорова
5          Олексій Юрченко
6       Анастасія Петренко
7     Олексій Барановський
8          Давид Денисенко
9              Карина Борщ
10       Ярослав Пилипенко
11       Володимир Тарасов
12       Дмитро Чернишенко
13         Максим Михайлов
14      Вячеслав Мілашенко
Name: Ім'я та прізвище студента, dtype: object